$background-beige: #f8f3eb;
$color-text: #30200c;
$color-accent: #EBDCC5;
$color-link-hover: #8b3d17;
$color-link-active: #3a1a0a;

%photo-center {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

%btn {
  background-color: $color-accent;
  border: 1px solid $color-text;
  border-radius: 50%;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  &:active {
    background-color: darken($color-accent, 20%);
  }
}

@media (hover: hover) {
   %btn:hover {
      background-color: darken($color-accent, 7%);
   }
 }
